*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
}

body{	
	box-sizing: border-box;
	background: grey;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter{
  background: linear-gradient(10deg,#000C2D,grey);
  width: 500px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 20px #00000060;
}

.newsletter h1{
  /*text-transform: uppercase;*/
  color: #fff;
  font-size: 35px;
  line-height: 40px;
}

.newsletter p{
  color: #fff;
  font-size: 14px;
  margin: 10px 0;
}

.txtb{
  width: 100%;
  height: 50px;
  background: #f1f1f199;  
  position: relative;
  margin-top: 30px;
}

.txtb input{
  width: 100%;
  height: 50px;  
  border: 0;
  background: #F5F5F5;
  padding: 10px;
  outline: none;
  font-size: 20px;
  padding-right: 80px; 
}

.txtb button{
  background: #274a79;
  border: none;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  /*position: absolute;*/
  right: 0px;
  top: 60px;
  outline: none;
  cursor: pointer;
  color: #F5F5F5;
  transition: 0.7s linear;
}

.txtb button:hover{
  opacity: .7;
}
p{
  font-weight: bold;
}
.scicon{
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
a{
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
  background-color: #E8EBEF;
  
  
  line-height: 110px;
  color: rgb(88,88,90);
  }

a i{
  font-size: 40px;
  transition: all 0.7s;
}

a:hover i{
  color: rgb(33,152,149);
}
